.authenticationForm__wrapper {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  place-items: center;

  .authenticationForm__form {
    display: flex;
    flex-direction: column;
    place-items: center;

    .authenticationForm__header {
      font-weight: 300;
    }

    .authenticationForm__label {
      align-self: self-start;
      margin-top: 2rem;
    }

    .authenticationForm__input {
      padding: 0.5rem 2rem;
      color: whitesmoke;
      font-size: 1.2rem;
      border: none;
    }

    .authenticationForm__button {
      margin-top: 1rem;
    }
  }

  .authenticationForm__errorOutput {
    color: orange;
    text-align: center;
  }
}
