.signup-wrapper {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  place-items: center;
  form {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0.5rem;
    label {
      align-self: self-start;
      margin-top: 2rem;
    }
    input {
      padding: 0.5rem 4rem;
      color: whitesmoke;
      font-size: 1.2rem;
      border: none;
    }
    button {
      margin-top: 2rem;
    }
  }
  .errorOutput {
    color: orange;
    padding: 0.5rem;
    text-align: center;
  }
}
