.signup-wrapper {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  form {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0.5rem;
    gap: 1rem;
    label {
      align-self: self-start;
      margin-top: 1rem;
    }
    input {
      padding: 0.5rem 4rem;      
      color: whitesmoke;
      font-size: 1.2rem;
      border: none;
    }
  }
  .errorOutput {
    color: orange;
    width: 100%;
    padding: 0.5rem;
  }
}
